<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Fiche camion</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div>
                    <button class="btn btn-outline-success">Liste des BL livrés par ce camion</button>
                    <button class="btn btn-outline-dark">Total quantités livrées</button>
                    <button class="btn btn-outline-warning">Calcul de stock (total manques)</button>
                    <button class="btn btn-outline-danger">Comparer ce camion avec un autre</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Nombre total des Livraisons</span>
                                <span class="info-box-number">72</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Moyenne livraison par mois</span>
                                <span class="info-box-number">12 livraisons en 09 mois</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Total dépenses</span>
                                <span class="info-box-number">780,800</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Total charges fixes</span>
                                <span class="info-box-number">1800,000</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Informations générales</a>
                        <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Vidanges</a>
                        <a class="nav-item nav-link" id="assurance-tab" data-toggle="tab" href="#assurance" role="tab" aria-controls="assurance-tab" aria-selected="false">Assurance</a>
                        <a class="nav-item nav-link" id="visite-tab" data-toggle="tab" href="#visite" role="tab" aria-controls="visite-tab" aria-selected="false">Visites technique</a>
                        <a class="nav-item nav-link" id="entretien-tab" data-toggle="tab" href="#entretien" role="tab" aria-controls="entretien-tab" aria-selected="false">Entretiens</a>
                    </div>
                </nav>
                <div class="tab-content p-3  col-md-12" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>Maticule</th>
                                    <th>Kilométrage</th>
                                    <th>Prochain vidange</th>
                                    <th>Date visite technique</th>
                                    <th>Assurance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        160 TU 4420
                                    </td>
                                    <td>
                                        IVECO
                                    </td>
                                    <td>
                                        16/05/2021
                                    </td>
                                    <td>
                                        04/08/2022
                                    </td>
                                    <td>
                                        15/12/2021
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Montant total</th>
                                    <th>Note</th>
                                    <th>Kilométrage</th>
                                    <th>Prochain vidange</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        17/02/2021
                                    </td>
                                    <td>
                                        180,000
                                    </td>
                                    <td>
                                        Filte huile, Filtre essance, Filtre air
                                    </td>
                                    <td>
                                        146,000
                                    </td>
                                    <td>
                                        156,000
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        20/11/2020
                                    </td>
                                    <td>
                                        157,000
                                    </td>
                                    <td>
                                        Filte huile, Filtre air
                                    </td>
                                    <td>
                                        135,000
                                    </td>
                                    <td>
                                        145,000
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        17/02/2021
                                    </td>
                                    <td>
                                        180,000
                                    </td>
                                    <td>
                                        Filte huile, Filtre essance
                                    </td>
                                    <td>
                                        126,000
                                    </td>
                                    <td>
                                        136,000
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        20/11/2020
                                    </td>
                                    <td>
                                        157,000
                                    </td>
                                    <td>
                                        Filte huile
                                    </td>
                                    <td>
                                        115,000
                                    </td>
                                    <td>
                                        125,000
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="assurance" role="tabpanel" aria-labelledby="assurance-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>Fournisseur</th>
                                    <th>Montant total</th>
                                    <th>Date début contrat</th>
                                    <th>Date fin contrat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        ZITOUNA ASSURANCE
                                    </td>
                                    <td>
                                        380,000
                                    </td>
                                    <td>
                                        14/06/2020
                                    </td>
                                    <td>
                                        15/12/2020
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        ZITOUNA ASSURANCE
                                    </td>
                                    <td>
                                        715,000
                                    </td>
                                    <td>
                                        15/12/2020
                                    </td>
                                    <td>
                                        15/12/2021
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="visite" role="tabpanel" aria-labelledby="visite-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Montant total</th>
                                    <th>Prochaine visite</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        17/02/2021
                                    </td>
                                    <td>
                                        37,500
                                    </td>
                                    <td>
                                        17/02/2022
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        15/02/2020
                                    </td>
                                    <td>
                                        37,500
                                    </td>
                                    <td>
                                        16/02/2021
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="entretien" role="tabpanel" aria-labelledby="entretien-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Montant total</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        05/01/2021
                                    </td>
                                    <td>
                                        480,000
                                    </td>
                                    <td>
                                        Airbag avant
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05/01/2021
                                    </td>
                                    <td>
                                        160,000
                                    </td>
                                    <td>
                                       Changement Pneu roue avant gauche
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        05/01/2021
                                    </td>
                                    <td>
                                        108,000
                                    </td>
                                    <td>
                                        Roulement roue arrière droite
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
