@Scripts.Render("~/bundles/jquery")
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Paramétrage société</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="card card-primary">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <label>Société <span style="color:red">*</span></label>
                <input type="text" class="form-control" required value="SOCIETE EL BEY">
            </div>
            <div class="col-md-6">
                <label>Matricule fiscale</label>
                <input type="text" class="form-control" value="0482714L/A/M/000">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <label>Mail de notification</label>
                <input type="text" class="form-control" value="Sami.elbey@hotmail.com">
            </div>
            <div class="col-md-6">
                <label>Téléphone </label>
                <input type="email" class="form-control" value="222 555 888">
            </div>
        </div>
        <br />
    </div>
    <div class="card-footer">
        <button style="float:right" type="submit" class="btn btn-success">Valider</button>
    </div>

</div>
