<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Fiche article</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div>
                    <button class="btn btn-outline-dark">Liste des BL avec manque</button>
                    <button class="btn btn-outline-warning">Détails quantité casse</button>
                    <button class="btn btn-outline-danger">Comparer cet article avec un autre</button>
                    <button class="btn btn-outline-success">Calculer le stock théorique</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <table class="table table-head-fixed text-nowrap" width="100%">
                <thead>
                    <tr>
                        <th>Code article</th>
                        <th>Désignation</th>
                        <th>Prix standard achat</th>
                        <th>Prix standard vente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            B08T
                        </td>
                        <td>
                            Brique 8 trous
                        </td>
                        <td>
                            0,410
                        </td>
                        <td>
                            0,510
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Quantité achetée</span>
                                <span class="info-box-number">50 180</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Quantité vendue</span>
                                <span class="info-box-number">49 860</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Chiffre d'affaire de vente</span>
                                <span class="info-box-number" style="color:green">77 800,800</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Chiffre d'affaire achat</span>
                                <span class="info-box-number">51 000,000</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Min quantité vendue par BL</span>
                                <span class="info-box-number">400</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Max quantité vendue par BL</span>
                                <span class="info-box-number">3 450</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Total quantité casse</span>
                                <span class="info-box-number" style="color:red">80</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Total manque</span>
                                <span class="info-box-number" style="color:red">147</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Prix max de vente</span>
                                <span class="info-box-number" style="color:green">0,620 - STE CHARGUI</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Prix min de vente</span>
                                <span class="info-box-number" style="color:orange">0,490 - Ismail Nasr</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Prix max d'achat</span>
                                <span class="info-box-number" style="color:red">0,500 - Chebbi - 30/12/2020</span>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <div class="info-box-content">
                            <center>
                                <span class="info-box-text">Prix min d'achat</span>
                                <span class="info-box-number" style="color:green">0,390 - STE Habib - 18-05/2019</span>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Historique casse</a>
                        <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Historique manque</a>
                        <a class="nav-item nav-link" id="nonlivre-tab" data-toggle="tab" href="#nonlivre" role="tab" aria-controls="nonlivre" aria-selected="false">Historique manque</a>
                    </div>
                </nav>
                <div class="tab-content p-3  col-md-12" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Camion</th>
                                    <th>Chauffeur</th>
                                    <th>Quantité</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        18/12/2020
                                    </td>
                                    <td>
                                        160 TU 4420 - IVECO
                                    </td>
                                    <td>
                                        Mohamed Hasan
                                    </td>
                                    <td>
                                        20
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        01/12/2020
                                    </td>
                                    <td>
                                        160 TU 4420 - IVECO
                                    </td>
                                    <td>
                                        Mohamed Hasan
                                    </td>
                                    <td>
                                        17
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        18/12/2020
                                    </td>
                                    <td>
                                        83 TU 0551 - RENAULT
                                    </td>
                                    <td>
                                        Ahmed Ben mohamed
                                    </td>
                                    <td>
                                        33
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>N° BLF</th>
                                    <th>Camion</th>
                                    <th>Chauffeur</th>
                                    <th>Quantité</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        17/02/2021
                                    </td>
                                    <td>
                                        83 TU 0551 - RENAULT
                                    </td>
                                    <td>
                                        Ahmed Ben mohamed
                                    </td>
                                    <td>
                                        146
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        17/02/2021
                                    </td>
                                    <td>
                                        140 TU 5682 - OM
                                    </td>
                                    <td>
                                        Hosni memmi
                                    </td>
                                    <td>
                                        1
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="nonlivre" role="tabpanel" aria-labelledby="nonlivre-tab">
                        <table class="table table-head-fixed text-nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th>N° BLF</th>
                                    <th>Camion</th>
                                    <th>Quantité</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        BLF210200052
                                    </td>
                                    <td>
                                        83 TU 0551 - RENAULT
                                    </td>
                                    <td>
                                        1500
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
