
@{
    ViewBag.Title = "BL_VENTE_LIST";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Liste des demandes externes (Camion)</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="card">
        <div class="card-header">
            <button onclick="show_modal('modal-add')" style="float:right" class="btn btn-success"> Ajouter </button>
        </div>
        <div class="card-body">
            <table id="tab_blv" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>N° demande</th>
                        <th>Fournisseur</th>
                        <th>Date</th>
                        <th>Montant</th>
                        <th>Note</th>
                        <th>Payé</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DE0200058</td>
                        <td>Ammar Ben Ali</td>
                        <td>07-02-2020</td>
                        <td>
                            117,000
                        </td>
                        <td>Camion IVECO demi-journée SFAX</td>
                        <td style="color:red"><center>Non</center></td>
                    </tr>
                    <tr>
                        <td>DE0200014</td>
                        <td>Ahmed Ben Salem</td>
                        <td>15-02-2020</td>
                        <td>
                            1 500,000
                        </td>
                        <td>Camion IVECO 4 jours pour sousse BLF2102500852</td>
                        <td style="color:green"><center>Oui</center></td>
                    </tr>
                    <tr>
                        <td>DE0200011</td>
                        <td>STE Guizeni</td>
                        <td>15-02-2020</td>
                        <td>
                            915,000
                        </td>
                        <td>Semi remorque 2 jours</td>
                        <td style="color:green"><center>Oui</center></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.content -->

<div class="modal fade" id="modal-add">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nouvelle demande</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Fournisseur</label>
                            <select class="form-control">
                                <option>Amina ben hmed</option>
                                <option>Mohamed Tijani</option>
                                <option>Ahmed mhamdi</option>
                                <option>Ste New house</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Date</label>
                            <input type="date" class="form-control" id="exampleInputPassword1" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Montant</label>
                            <input type="number" step="0.001" class="form-control" id="exampleInputPassword1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Payé</label>
                            <select class="form-control">
                                <option>Non</option>
                                <option>Oui</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<script>
    function show_modal(m) {
        $("#" + m).modal("show");
    }
</script>

<script>
    $(function () {
        $('#tab_blv').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
<script>
    $(function () {
        $('#HOME_INDEX').removeClass('active');
        $("#DDB").removeClass("active");
        $("#DDB_COLLABORATEUR").removeClass("active");
        $("#DDB_FOURNISSEUR").removeClass("active");
        $("#DDB_CLIENT").removeClass("active");
        $("#DDB_CAMION").removeClass("active");
        $("#DDB_ARTICLE").removeClass("active");
        $("#GDD").addClass("active");
        $("#GDD_BL_ACHAT").removeClass("active");
        $("#GDD_BL_VENTE").addClass("active");
    });
</script>

